<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <small class="text-muted">
            &copy;{{ 'now'|date('Y') }} &middot;
            Built with
            <span class="text-danger">
                &hearts;
            </span>
            by <a href="#" class="link-danger text-decoration-none">Rosin</a>
        </small>

    </div>
</footer>